<!-- <div class="card" style="width: 18rem">
    <img src="https://images-platform.99static.com/ejAoit777JjcBpz1rYeCyUwcjQk=/500x500/top/smart/99designs-contests-attachments/50/50319/attachment_50319872" class="card-img-top" alt="home iot" />
    <div class="card-body">
        <h5 class="card-title">Card title</h5>
        <p class="card-text">
            Some quick example text to build on the card title and make up the bulk of the card's content.
        </p>
    </div>
    <ul class="list-group list-group-flush">
        <li class="list-group-item">An item</li>
        <li class="list-group-item">A second item</li>
        <li class="list-group-item">A third item</li>
    </ul>
    <div class="card-body">
        <a href="#" class="card-link">Card link</a>
        <a href="#" class="card-link">Another link</a>
    </div>
</div> -->
<div class="row">
    <div class="col">
        <h1>*ngIf</h1>
        <hr />
        <div *ngIf="mostrar" class="card text-dark bg-light mb-3" style="width: 100%">
            <div class="card-header">Header</div>
            <div class="card-body">
                <h5 class="card-title">{{ frase.autor }}</h5>
                <p class="card-text">{{ frase.mensaje }}</p>
            </div>
        </div>

        <button (click)="mostrar = !mostrar" class="btn btn-outline-primary">
      Mostrar/ocultar
    </button>
    </div>
    <div class="col">
        <h1>*ngFor</h1>
        <hr />
        <ul class="list-group">
            <li *ngFor="let personaje of personajes;let i=index" class="list-group-item">
                {{ i+1}} - {{ personaje }}
            </li>
        </ul>
    </div>
</div>