<ion-header>
    <ion-nav-link>
        <button ion-button menuToglle>
      <ion-icon name="menu"></ion-icon>
    </button>
        <ion-title>home</ion-title>
    </ion-nav-link>
    <ion-toolbar> </ion-toolbar>
</ion-header>

<ion-content>
    <ion-card *ngIf="platos">
        <img src="{{baseUrl+dish.image}}" />
        <ion-card-content>
            <ion-card-title>
                {{platos.name|uppercase}}
            </ion-card-title>
            <p>{{platos.description}}</p>
        </ion-card-content>
    </ion-card>

    <div [hidden]="platos||dishErrMess"></div>
    <ion-spinner></ion-spinner>
    <h4>Loading....Please Wait</h4>
    <div *ngIf="dishErrMess">
        <h2>Error</h2>
        <h4>{{dishErrMess}}</h4>
    </div>

    <ion-card *ngIf="promocion">
        <img src="{{baseUrl+promocion.image}}" />
        <ion-card-content>
            <ion-card-title>
                {{promocion.name|uppercase}}
            </ion-card-title>
            <p>{{promocion.description}}</p>
        </ion-card-content>
    </ion-card>

    <div [hidden]="promocion||promoErrMess"></div>
    <ion-spinner></ion-spinner>
    <h4>Loading....Please Wait</h4>
    <div *ngIf="promoErrMess">
        <h2>Error</h2>
        <h4>{{promoErrMess}}</h4>
    </div>

    <ion-card *ngIf="leader">
        <img src="{{baseUrl+leader.image}}" />
        <ion-card-content>
            <ion-card-title>
                {{leader.name|uppercase}}
            </ion-card-title>

            <p>{{leader.designation}}</p>
            <p>{{leader.description}}</p>
        </ion-card-content>
    </ion-card>

    <div [hidden]="leader||leaderErrMess"></div>
    <ion-spinner></ion-spinner>
    <h4>Loading....Please Wait</h4>
    <div *ngIf="leaderErrMess">
        <h2>Error</h2>
        <h4>{{leaderErrMess}}</h4>
    </div>
</ion-content>

<!-- <ion-header [translucent]="true">
    <ion-toolbar>
        <ion-buttons slot="start">
            <ion-menu-button></ion-menu-button>
        </ion-buttons>
        <ion-title>{{ home }}</ion-title>
    </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
    <ion-header collapse="condense">
        <ion-toolbar>
            <ion-title size="large">{{ home }}</ion-title>
        </ion-toolbar>
    </ion-header>

    <div id="container">
        <strong class="capitalize">{{ home }}</strong>
        <p>
            Explore
            <a target="_blank" rel="noopener noreferrer" href="https://correo.epn.edu.ec">UI Components</a
      >
    </p>
  </div>
</ion-content> -->