<h1 class="rojo">Titulo {{ title }}</h1>

<app-item-estudiante nombreItem="AULA1"> </app-item-estudiante>
<app-item-estudiante nombreItem="Aula2"></app-item-estudiante>
<app-item-estudiante nombreItem="Aula Chicas"></app-item-estudiante>

<!-- <p *ngFor="let pelicula of peliculas">{{ peli['pelicula'] }}</p> -->

<ul>
    <li *ngFor="let mate of materias">
        <p>Materia: {{ mate['materiaNombre'] }}</p>
        <p>Codigo: {{ mate['codigo'] }}</p>
        <p>Descripción: {{ mate['descripcion'] }}</p>
        <p>Activo: {{ mate['activo'] }}</p>
        <p>Fecha: {{ mate['fechaCreacion'] }}</p>
        <p>Numero de horas: {{ mate['numerosHorasPorSemana'] }}</p>
        <p>Estudiante: {{ mate['estudianteId'] }}</p>
    </li>
</ul>

<ul>
    <li *ngFor="let peli of peliculas">
        <p>Titulo: {{ peli['pelicula'] }}</p>
        <p>Director: {{ peli['director'] }}</p>
        <p>Año: {{ peli['anio'] }}</p>
        <p>duracion:{{ peli['duracion'] }}</p>
    </li>
</ul>