<p>
  ruta-revisar-compras works!
</p>

<h1>Gestion de Compras</h1>
<p>Busque sus facturitas
  Puede buscar facturas por el nombre de cajero o comprador</p>


  <div class="row">
    <div class="col-sm-9">
      <label for="busqueda">Busqueda</label>
      <input id="busqueda" type="text" name="busqueda" [(ngModel)]="busqueda">
      <br>
    </div>
    <div class="col-sm-3">
      <button class="btn btn-outline-success btn-block" (click)="buscar(busqueda)">
        Buscar
      </button>
    </div>
  </div>

  <div class="modal-body">

    <table class="table table-hover animated fadeInUp">

        <!-- tr -> table row -->
        <thead>
        <!-- tr -> table row -->
        <tr>
            <!-- th -> table header -->
            <th width="20%">Nombre Cajero</th>
            <th width="20%">Nombre Cliente</th>
            <th width="20%">Direccion</th>
            <th width="20%">Telefono</th>
            <th width="20%">Total</th>
        </tr>
        </thead>

        <tbody >
        <!-- <% arregloUsuario.forEach( (usuario)=> { %> -->
        <tr *ngFor="let item of facturas">
            <td> {{item.nombreCajero}} </td>
            <td>{{item.nombre}} </td>
            <td> {{item.direccion}} </td>
            <td> {{item.telefono}} </td>
            <td> {{item.total}} </td>
        </tr>
        <!-- <% }) %> -->
        </tbody>
    </table>

</div>

<div>
  <button type="button" class="btn btn-outline-secondary" (click)="redirigir()">Regresar</button>
</div>